/* REMINDER! All of your elements must use your unique namespace '.usrprofile' at the start to avoid leaking */
.usrprofile {
  width: auto;
  height: 100vh;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0rem 0.2rem 0.1rem rgba(162, 162, 162, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 100%;
  min-height: 100%;
  overflow: auto;
  flex-wrap: wrap;
}

.usrprofile .user-details-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  height: auto;
  flex-wrap: wrap;
  width: 95%;
  margin: 2rem;
  position: relative;
  border: 1px solid red;
}

.usrprofile .password-kinetiq-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5rem;
  /* flex-wrap: wrap-reverse; */
}

.usrprofile .user-details-container{
  border-bottom: 0.05rem solid rgb(207, 207, 207);
  padding: 1rem;
}

.usrprofile .user-details-container img{
  height: 10rem;
  width: auto;
  position: absolute;
  z-index: 0;
}

.usrprofile .user-image{
  aspect-ratio: 1 / 1;
  width: 10rem;
  height: 10rem;
  border-radius: 500rem;
  background-color: rgb(178, 238, 242);
  color: rgb(0, 125, 141);
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
}

.usrprofile .user-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  font-size: 0.8rem;
  color: #7d7d7d;
  gap: 1rem;
  margin-left: 1rem;
  
}

.usrprofile .user-details strong, .usrprofile .role-details strong{
  font-weight: 700;
  color: #4eb5b5;
}

.usrprofile .user-name-pos{
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
  margin-right: 2rem;
}

.usrprofile .user-name{
  font-size: 2rem;
  color: #008b8b;
  margin-right: 0.5rem;
  line-height: 2rem;
  text-align: right;
  border: 1px solid red;
  width: fit-content;
}

.usrprofile .user-email{
  color: rgb(155, 160, 162);
  font-size: 0.85rem;
  border: 1px solid red;
}

.usrprofile .user-position{
  border-left:  0.15rem solid #b4c0c0; 
  padding-left: 0.95rem;
  font-style: italic;
  font-size: 1.35rem;
  color: #7ca2a2;
  border: 1px solid red;
  width: fit-content;
}

.usrprofile .role-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 95%;
  height: auto;
  font-size: 0.8rem;
  color: #7d7d7d;
  margin-left: 2rem;
  font-size: 0.85rem;
  padding: 0rem 3rem;
}

.usrprofile .role-details h3{
  font-size: 0.85rem;
  color: #a2a2a2;
  margin-bottom: 0.2rem;
  letter-spacing: 0.25rem;
  border-bottom: 1px solid #b4c0c0;
  padding-bottom: 0.3rem;
}

.usrprofile .password-section{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 3rem;
  align-items: center;
}
.usrprofile .password-section h3{
  color: rgb(24, 172, 172);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.usrprofile .change-password-btn {
  background-color: #00a7a7;
  width: 100%;
  color: white;
  border: none;
  padding: 0.25rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 500;
  margin-top: 1.5rem;
  font-size: 0.85rem;
}

.password-input-wrapper-item{
  width: 100%;
}

.usrprofile .password-input-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.usrprofile input[type="password"], 
.usrprofile input[type="text"]{
  color: #7d7d7d;
  font-size: 0.85rem;
  width: 100%;
  padding: 0.2rem 2.5rem 0.2rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

.usrprofile input[type="text"]:focus,
.usrprofile input[type="password"]:focus {
  border: none;
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 128, 128, 0.25); 
  outline: none;
}

.usrprofile input:-webkit-autofill {
  background-color: white !important; 
  color: #7d7d7d !important;          
  -webkit-text-fill-color: #7d7d7d !important; 
  transition: background-color 5000s ease-in-out 0s;
}


.usrprofile .eye-icon {
  position: absolute;
  right: 0.65rem;
  cursor: pointer;
  color: #888;
}

.password-input-error-container {
  margin-top: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}

.usrprofile .login-error{
  color: rgb(255, 128, 0);  
  font-size: 0.7rem;
  font-style: italic;
  width: 100%;
  min-height: 0.7rem;
}

.usrprofile .user-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid blue;
  margin-left: auto;
  z-index: 1;
}

/* @media (max-width: 75rem) {
  .usrprofile .user-email{
    align-self: center;
  }
} */

@media (max-width: 57rem) {
  .usrprofile .user-details-container {
    /* flex-direction: row-reverse; */
    align-items: center;
  }

  .usrprofile .user-details-container img{
    position: relative;
  }

  .usrprofile .user-name, .usrprofile .user-position {
    min-width: 11rem;
  }

  .usrprofile .password-kinetiq-container {
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 90%;
    border: 1px solid red;
    margin: 2rem;
  }

  .password-kinetiq-container .role-details{
    margin-bottom: 2rem;
  }

  .password-kinetiq-container .password-section{
    border: 1px solid red;
    margin: auto;
    width: 90%;
  }
}
