:root {
  --light-teal-background: #EFF8F9;
  --light-grey-selected: #dde0e2;

  /* size variables */
  --header-navi-height: 4rem;
  --sidebar-icons-width: 4rem;
  --sidebar-desc-width: 12rem;
  --sidebar-main-menu-container-height: 1.5rem;
}

.shell-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: var(--light-teal-background);
}

.sidebar-icons-hamburger-container{
  height: var(--header-navi-height);
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ham-menu-icon{
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}

.ham-menu-icon span{
  height: 0.1rem;
  width: 100%;
  background-color: rgb(124, 124, 124);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.ham-menu-icon span:nth-child(1){
  top: 20%;
}

.ham-menu-icon span:nth-child(3){
  top: 80%;
}

.ham-menu-icon.active span:nth-child(1){
  top: 50%;
  transform: translate(-50%, -55%) rotate(45deg);
}

.ham-menu-icon.active span:nth-child(2){
  opacity: 0;
}

.ham-menu-icon.active span:nth-child(3){
  top: 50%;
  transform: translate(-50%, -55%) rotate(-45deg);
}

/* sidebar icons -- fixed width */
.sidebar-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: var(--sidebar-icons-width);
  background-color: white;
}

.sidebar-icons-ham-icon-wrapper{
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DDDDDD;
  border-radius: 0.3rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.sidebar-main-menu-container{
  height: var(--sidebar-main-menu-container-height);
  width: 100%;
  display: flex;
  flex-direction: row;
}


.sidebar-module-icons{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1; 
  overflow-y: auto;
  scrollbar-width: none; 
}

.sidebar-module-descs{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1; 
  overflow-y: auto;
  scrollbar-width: none; 
}


.sidebar-module-icons::-webkit-scrollbar, .sidebar-module-descs::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, Edge */
}

.sidebar-module-icons img{
  height: 1rem;
  width: 1rem;

}

/* sidebar description -- fixed width */
.sidebar-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: var(--sidebar-desc-width);
  background-color: white;
  padding-right: 1rem;
  opacity: 1;
  overflow: hidden;
  transition: width 0.3s ease-in-out, opacity 0.4s ease-in-out;
}

.sidebar-desc-container.closed {
  width: 0;
  opacity: 0;
  pointer-events: none;
  padding-right: 0rem;
}

.sidebar-module-icons-item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.85rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  margin: 0.25rem;
  border-radius: 0.2rem;
  transition: 0.2s ease;

}

.sidebar-module-desc-item{
  display: flex;
  align-items: flex-start;
  justify-items: center;
  padding: 0.5rem;
  height: 3rem;
  width: 10.7rem;
  cursor: pointer;
  margin: 0.25rem;
  border-radius: 0.2rem;
  transition: 0.2s ease;
}

.sidebar-module-desc-item p{
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 0;
}

.sidebar-module-icons-item.hovered, .sidebar-module-desc-item.hovered{
  background-color: #e0f2f5;
}

.sidebar-module-icons-item.active, .sidebar-module-desc-item.active{
  background-color: var(--light-grey-selected);
}
.sidebar-module-icons-item.active.hovered, .sidebar-module-desc-item.active.hovered{
  background-color: #c2c2c2;
}




/* main content area that takes up the remaining space */
.header-body-container {
  display: flex;
  flex-direction: column;
  flex: 1; 
  border: 1px solid rgb(68, 0, 255);
}

/* header navigation -- fixed height */
.header-navi {
  height: var(--header-navi-height);
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(68, 0, 255);
}

/* body container -- takes remaining space below header */
.body-container {
  flex: 1;
}

