:root {
  --light-teal-background: #EFF8F9;
}

.shell-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: var(--light-teal-background);
}

/* sidebar icons -- fixed width */
.sidebar-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 4rem;
  background-color: white;
  border: 1px solid rgb(255, 0, 0);
}

/* sidebar description -- fixed width */
.sidebar-desc-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 8rem;
  background-color: white;
  border: 1px solid rgb(255, 0, 0);
}

/* main content area that takes up the remaining space */
.header-body-container {
  display: flex;
  flex-direction: column;
  flex: 1; 
  
  border: 1px solid rgb(68, 0, 255);
}

/* header navigation -- fixed height */
.header-navi {
  height: 4rem;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(68, 0, 255);
}

/* body container -- takes remaining space below header */
.body-container {
  flex: 1;
  
}
