.InternalTransfer {
    display: flex;
    width: 100%;
    height: calc(100vh - 140px);
    flex-direction: column;
    overflow: hidden;
}

.InternalTransfer .body-content-container {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: white;
    padding: 0%;
    box-shadow: 0rem 0.2rem 0.1rem rgba(162, 162, 162, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: auto; 
    min-height: unset;
    overflow-y: auto;
    overflow-x: hidden;
  }

.InternalTransfer .table-container,
.InternalTransfer.rework .table-container {
  width: 100%;
  height: 450px;
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 0 1.1rem 0.5rem 1.1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  max-width: 100%;
  overflow: auto; 
}



.InternalTransfer .table-container table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 600px;
}
.InternalTransfer .table-container {
    width: 100%;
    height: 450px;
    position: relative;
    background: white;
    border-radius: 8px;
    padding: 0 1.1rem 0.5rem 1.1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-size: 0.875rem;
    max-width: 100%;
    overflow: auto;
}
.InternalTransfer .table-container table {
    width: 100%;
    table-layout: fixed;
    min-width: 600px;
  }
.InternalTransfer .table-container thead {
    background-color: white;
}
.InternalTransfer .table-container thead tr {
    background-color: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}


  .InternalTransfer .table-container tbody {
    display: table-row-group;
  }

.InternalTransfer .table-container thead tr {
    background-color: white;
}


.InternalTransfer .table-container tbody tr {
    width: 100%;
    table-layout: fixed;
}

.InternalTransfer table th {
    background: white;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #495057;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    position: static;
    top: auto;
}


.InternalTransfer table td {
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #212529;
    border-bottom: 1px solid #f1f1f1;
}

.InternalTransfer .input-container {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: visible;
    overflow-x: auto;
    height: auto;
    min-height: fit-content;
  }
  

/* PERFECTLY CENTERED CHECKBOX STYLING */
.InternalTransfer input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #008080;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    position: relative;
    transition: all 0.2s ease;
    top: 3.4px;
}

.InternalTransfer input[type="checkbox"]:checked {
    background-color: #008080;
    border-color: #008080;
}

.InternalTransfer input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -60%) rotate(45deg);
}

/* FIXED TABLE CELL STYLING */


.InternalTransfer table td {
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #212529;
    border-bottom: 1px solid #f1f1f1;
    vertical-align: middle;
    width: 10em;
}

.InternalTransfer table td:first-child {
    width: 50px;
    padding: 0.5rem 0.75rem;
    text-align: center;
    vertical-align: middle;

}


.InternalTransfer .input-row:nth-child(1) .input-group:nth-child(1),
.InternalTransfer .input-row:nth-child(1) .input-group:nth-child(2),
.InternalTransfer .input-row:nth-child(1) .input-group:nth-child(3){
    display: flex;
    flex-direction: column;
    width: calc(33% - 0.5rem); 
    min-width: 150px; 
}
.InternalTransfer .input-row:nth-child(2){
    justify-content: flex-start;
}
.InternalTransfer .input-row:nth-child(2) .input-group:nth-child(1),
.InternalTransfer .input-row:nth-child(2) .input-group:nth-child(2),
.InternalTransfer .input-row:nth-child(2) .input-group:nth-child(3){
    display: flex;
    flex-direction: column;
    width: calc(33% - 0.5rem); 
    min-width: 150px; 
}

.InternalTransfer .input-container.reworkOrder .input-row:nth-child(1) .input-group:nth-child(1),
.InternalTransfer .input-container.reworkOrder .input-row:nth-child(1) .input-group:nth-child(2),
.InternalTransfer .input-container.reworkOrder .input-row:nth-child(1) .input-group:nth-child(3){
    display: flex;
    flex-direction: column;
    width: calc(50% - 0.5rem); 
    min-width: 150px; 
}
.InternalTransfer .input-row:nth-child(2){
    justify-content: flex-start;
}
.InternalTransfer .input-container.reworkOrder .input-row:nth-child(2) .input-group:nth-child(1),
.InternalTransfer .input-container.reworkOrder .input-row:nth-child(2) .input-group:nth-child(2),
.InternalTransfer .input-container.reworkOrder .input-row:nth-child(2) .input-group:nth-child(3){
    display: flex;
    flex-direction: column;
    width: calc(50% - 0.5rem); 
    min-width: 150px; 
}

.InternalTransfer .input-group label {
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.InternalTransfer .input-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    gap: 1rem; 
  }

.InternalTransfer .input-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.InternalTransfer .first-row {
    justify-content: flex-start;
}

.InternalTransfer .short-input {
    width: 14rem ;
    min-width: 10rem;
    overflow-x: scroll;
}

.InternalTransfer .input-group input {
    padding: 0.2rem 0.5rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.875rem;

}

.InternalTransfer .input-group input[type="date"] {
    position: relative;
    background: white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABeoAAADyCAYAAAAyRvX6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjw') no-repeat;
    background-position: right 0.5rem center;
    background-size: 16px;
    cursor: pointer;
    padding-right: 1.875rem;
}

.InternalTransfer .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    width: 100%;
}

.InternalTransfer .send-to-button {
    padding: 0.5rem 1rem;
    background: #0d9488;
    border: none;
    border-radius: 0.375rem;
    color: white;
    font-size: 0.875rem;
    cursor: pointer;
}

.InternalTransfer .send-to-button:hover {
    background: #0f766e;
}

.InternalTransfer .module-dropdown {
    width: 14rem;
    min-width: 10rem;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    appearance: auto;
    font-size: 14px;
}

.InternalTransfer .module-dropdown::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.InternalTransfer .module-dropdown:hover {
    border-color: #000000;
}

.InternalTransfer .tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1.1em;
}

.InternalTransfer .tab {
    font-size: 0.875rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #666;
    position: relative;
    transition: color 0.3s ease;
}

.InternalTransfer .tab.active {
    color: #00A8A8;
    font-weight: 500;
}

.InternalTransfer .tab.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #00A8A8;
}

.InternalTransfer .table-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.InternalTransfer .table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.InternalTransfer .table-container::-webkit-scrollbar-thumb {
    background: #00A8A8;
    border-radius: 3px;
}

.InternalTransfer .table-container::-webkit-scrollbar-thumb:hover {
    background: #008080;
}

.InternalTransfer .input-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.InternalTransfer .input-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.InternalTransfer .input-container::-webkit-scrollbar-thumb {
    background: #00A8A8;
    border-radius: 3px;
}

.InternalTransfer .input-container::-webkit-scrollbar-thumb:hover {
    background: #008080;
}

.text-center {
    text-align: center;
}

.InternalTransfer .req-input{
    background-color: #F8F8F8;
}
.InternalTransfer .item-number input[type="number"]::-webkit-inner-spin-button {
    background-color: #0d9488; 
    filter: invert(1); 
    height: auto;
  }

/*
@media only screen and (max-width: 600px) {
    .InternalTransfer .input-container {
        grid-template-columns: repeat(6, 1fr);
    }
    .InternalTransfer .send-to-button {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .InternalTransfer .input-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .InternalTransfer .input-container {
        grid-template-columns: repeat(6, 1fr);
    }
}*/

/* Media query for smaller tablets */
@media (max-width: 768px) {
    .InternalTransfer .body-content-container {
      padding: 0.75rem; /* Reduced padding */
      width: 100%;
      min-width: auto;
    }
    .InternalTransfer .details-grid {
      padding: 0.75rem; /* Reduced padding */
      width: 100%;
      min-width: auto;
      overflow-x: auto;
    }
    .InternalTransfer .detail-row input{
      min-width: 7rem;
    }
    .InternalTransfer .header-container h2 {
      font-size: 1.25rem; /* Smaller heading */
    }
    .InternalTransfer .table-container{
      overflow-x: auto;
      overflow-y: auto;
    }
    .InternalTransfer.rework .table-container {
        overflow-x: auto;
        overflow-y: auto;
    }
    .InternalTransfer .form-group span{
      font-size: 0.9rem;
      white-space: nowrap;      
      overflow-x: auto;   
      overflow-y: hidden;      
      overflow-wrap: normal;     
      display: inline-block;  
    }
    .InternalTransfer .input-container{
        overflow-x: auto;
    }
    .InternalTransfer .input-group .short-input{
        font-size: 0.9rem;
        width: 10rem;
        white-space: nowrap;      
        overflow-x: auto;   
        overflow-y: hidden;      
        overflow-wrap: normal;     
        display: inline-block;  
    }
    .InternalTransfer .input-group label{
        font-size: 0.9rem;
        width: 10rem;
        white-space: nowrap;      
        overflow-x: auto;   
        overflow-y: hidden;      
        overflow-wrap: normal;     
        display: inline-block;  
    }
    .InternalTransfer .module-dropdown option{
        font-size: 0.7rem;
    }
  }

.InternalTransfer table th.deliveryTH:nth-child(1),
.InternalTransfer table td.deliveryTD:nth-child(1) {
    width: 2rem;
}

.InternalTransfer table th.deliveryTH:nth-child(2),
.InternalTransfer table td.deliveryTD:nth-child(2) {
    width: 15rem;
}


.InternalTransfer table th.deliveryTH:nth-child(3),
.InternalTransfer table td.deliveryTD:nth-child(3) {
    width: 15rem;
}

.InternalTransfer table th.deliveryTH:nth-child(4),
.InternalTransfer table td.deliveryTD:nth-child(4) {
    width: 8rem;
}

.InternalTransfer table th.deliveryTH:nth-child(5),
.InternalTransfer table td.deliveryTD:nth-child(5) {
    width: 8rem;
}

.InternalTransfer table th.deliveryTH:nth-child(6),
.InternalTransfer table td.deliveryTD:nth-child(6) {
    width: 8rem;
}

.InternalTransfer table th.deliveryTH:nth-child(7),
.InternalTransfer table td.deliveryTD:nth-child(7) {
    width: 15rem;
}
.InternalTransfer table th.deliveryTH:nth-child(8),
.InternalTransfer table td.deliveryTD:nth-child(8) {
    width: 8rem;
}


/*Rework*/
.InternalTransfer table th.reworkTH:nth-child(1),
.InternalTransfer table td.reworkTD:nth-child(1) {
    width: 2rem;
}
.InternalTransfer table th.reworkTH:nth-child(2),
.InternalTransfer table td.reworkTD:nth-child(2) {
    width: 15rem;
}
.InternalTransfer table th.reworkTH:nth-child(3),
.InternalTransfer table td.reworkTD:nth-child(3) {
    width: 15rem;
}
.InternalTransfer table th.reworkTH:nth-child(4),
.InternalTransfer table td.reworkTD:nth-child(4) {
    width: 15rem;
}

.InternalTransfer table th.reworkTH:nth-child(5),
.InternalTransfer table td.reworkTD:nth-child(5) {
    width: 8rem;
    
}

.InternalTransfer table th.reworkTH:nth-child(6),
.InternalTransfer table td.reworkTD:nth-child(6) {
    width: 8rem;
}